torch
torchvision
Pillow==9.5.0
imageio
opencv-python
tensorboard
numpy
scipy
scikit-image
tqdm
lpips
pycocotools
pytorch-fid
git+https://github.com/facebookresearch/detectron2.git
Pillow==9.5.0
nuscenes-devkit
